@media (max-width: 700px) {

    .main-layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-gallery {
        grid-column: 1/2;
    }

    .canvas-container {
        grid-column: 1/2;
    }
}